doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Ember: An Introduction

        link(rel='stylesheet', type='text/css', href='build/build.css')
        link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    body

        article

            section
                h1 Ember
                h2 An Introduction
                
            section
                h1 Terms
                table
                    tr
                        th Ember
                        th Silverlight
                    tr
                        td Route
                        td ViewModel Constructor
                    tr
                        td Controller
                        td ViewModel
                    tr
                        td View
                        td Storyboard
                    tr
                        td Template
                        td XAML Page
                        
            section
                h1 Object Model
                h2.bullet Ember.Object
                ul
                    li Always 'extend()'
                    li init
                    li this._super() 
                    li (especially if overriding init of core class!)

            section
                h1 Computed Properties
                h2.bullet Functions as properties!
                ul
                    li Create properties as a function of other properties
                    li Updates when dependent property changes
                    
            section
                h1 Computed Properties
                h2 In Silverlight
                
            section
                h1 Custom 'getter' in C#
                h2 "Create properties as a function of other properties"
                pre.small
                    code.language-csharp.small.
                        public string FirstName { get; set; }
                        public string LastName { get; set; }
                        public string FullName 
                        {
                            get
                            {
                                return FirstName + " " + LastName;
                            }
                        }
                    
            section
                h1 INotifyPropertyChanged
                h2 "Updates when dependent property changes"
                pre.xsmall
                    code.language-csharp.xsmall.
                        public class Person : INotifyPropertyChanged
                        {
                            private string _firstName;
                            public string FirstName
                            {
                                get { return _firstName; }
                                set { _firstName = value; NotifyPropertyChanged("FirstName"); }
                            }
                        
                            public event PropertyChangedEventHandler PropertyChanged;
                            private void NotifyPropertyChanged(String propertyName)
                            {
                                PropertyChangedEventHandler handler = PropertyChanged;
                                if (handler != null)
                                {
                                    handler(this, new PropertyChangedEventArgs(propertyName));
                                }
                            }
                        }
                    
            section
                h1 Computed Properties
                h2 In Ember

            section
                h1.bullet Ember.Object
                h2.bullet "Create properties as a function of other properties"
                h2.bullet "Updates when dependent property changes"
                pre.small.bullet
                    code.language-javascript.small.
                        App.Person = Ember.Object.extend({
                            // these will be supplied by `create`
                            firstName: null,
                            lastName: null,
                            fullName: function() {
                                return this.get('firstName') + ' ' + this.get('lastName');
                            }.property('firstName', 'lastName')
                        });

                        var ironMan = App.Person.create({
                            firstName: "Tony",
                            lastName:  "Stark"
                        });

                        ironMan.get('fullName'); // "Tony Stark"

            section
                h1 Routing
                h2.bullet First-Class Citizen
                ul
                    li Helps manage application state
                    li Each state represented by a URL
                    
            section
                h1 Active Route Handlers
                h2 At any time, one or more routes can be <em>active</em>
                h2.bullet What causes routes to change?
                ul
                    li User interaction with view -> URL change
                    li User manually changed URL
            
            section
                h1.bullet On Route Change
                ul
                    li Conditionally redirect to a new URL
                    li Update a controller
                    li Change the template
                    
            section
                h1 The Router
                h2 Similar to "RouteConfig.cs" and "WebApiConfig.cs"
                pre.small.bullet
                    code.small.language-javascript.
                        var Router = Ember.Router.extend({
                            location: config.locationType
                        });
                        
                        Router.map(function() {
                            this.route("posts", function() {
                                this.route("activePost", { path: "/:id" }, function() {
                                    this.route("comments");
                                });
                            });
                        });
                div.bullet
                    h2 Example Route
                    pre.small
                        code.small.language-markup.
                            /posts/123/comments
                        
            section
                h1 Controllers
                h2.bullet Think 'ViewModel'
                ul
                    li Decorate models with display logic
                    li 'Business' logic - saving / updating / deleting
                    li Bottom line: stuff that doesn't belong in the model
                    
            section
                h1 Controllers - Example
                h2 Storing Application Properties
                pre.small
                    code.language-javascript.small.
                        export default Ember.Controller.extend({
                            // the initial value of the `search` property
                            search: '',
                            actions: {
                                query: function() {
                                    // the current value of the text field
                                    var query = this.get('search');
                                    this.transitionToRoute('search', { query: query });
                                }
                            }
                        });
                    
            section
                h1 Views
                h2.bullet Fairly 'rare'
                ul
                    li Sophisticated handling of user events
                    li DOM Manipulation
                    
            section
                h1 Views - Example
                pre.small
                    code.language-javascript.small.
                        export default Ember.View.extend({
                            dashboard: null,
                            didInsertElement: function() {
                                var packeryEl = Ember.$('.packery');
                                
                                this.set('dashboard', new PackDash(packeryEl).initialize());
                                this.get('controller').on('resize', this.resize.bind(this));
                            },
                            resize: function() {
                                var dashboard = this.get('dashboard');
                                if(dashboard) {
                                    Ember.run.later(dashboard.resize);
                                }
                            }
                        });
                    
            section
                h1 Outlets
                h2 Templates get rendered into parent route's 'outlet'
                pre
                    code.language-markup.
                        application
                            index
                            /posts
                                /posts/1
                                    /posts/1/comments
                    
            section
                h1 Templates
                h2 Markup / data-bindings
                h2.bullet Default 'application' template
                ul
                    li Header / Footer / Decorative Content
                    li At least one 'outlet'
                    
            section
                h1 Templates
                h2 Uses Handlebars (but moving to HTMLBars)
                pre
                    code.language-javascript.
                        &lt;script type="text/x-handlebars"&gt;
                            Hello, <strong>{{firstName}} {{lastName}}</strong>!
                        &lt;/script&gt;
                    
            section
                h1.bullet Handlebars to HTMLBars
                div.bullet
                    h2 Handlebars
                    pre
                        code.language-javascript.
                            &lt;a {{bind-attr href=url}}&gt;My link&lt;/a&gt;
                div.bullet
                    h2 HTMLBars
                    pre
                        code.language-javascript.
                            &lt;a href={{url}}&gt;My link&lt;/a&gt;
                        
            section
                h1 Question / Comments

        script(src='build/build.js')
