doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Ember: An Introduction

        link(rel='stylesheet', type='text/css', href='build/build.css')

    body

        article

            section
                h1 Ember
                h2 An Introduction

            section
                h2 Routing
                h3.bullet First-Class Citizen
                ul
                    li Helps manage application state
                    li Each state represented by a URL
                    
            section
                h2 Active Route Handlers
                h3 At any time, one or more routes can be <em>active</em>
                h3.bullet What causes routes to change?
                ul
                    li User interaction with view -> URL change
                    li User manually changed URL
            
            section
                h2.bullet On Route Change
                ul
                    li Conditionally redirect to a new URL
                    li Update a controller
                    li Change the template
                    
            section
                h2 Outlets
                h3 Templates get rendered into parent route's 'outlet'
                pre
                    code.language-markup.
                        application
                            index
                            /posts
                                /posts/1
                                    /posts/1/comments
                    
            section
                h2 Templates
                h3 Markup / data-bindings
                h3.bullet Default 'application' template
                ul
                    li Header / Footer / Decorative Content
                    li At least one 'outlet'
                    
            section
                h2 Templates
                h3 Uses Handlebars
                pre
                    code.language-javascript.
                        &lt;script type="text/x-handlebars"&gt;
                            Hello, <strong>{{firstName}} {{lastName}}</strong>!
                        &lt;/script&gt;
                    
            section
                h2 Object Model
                h3.bullet Ember.Object
                ul
                    li Always 'extend()'
                    li init
                    li this._super() 
                    li (especially if overriding init of core class!)
                    
            section
                h2 Computed Properties
                h3.bullet Functions as properties!
                ul
                    li What did you say?
                    li FUNCTIONS AS PROPERTIES!
                    
            section
                pre.small
                    code.language-javascript.small.
                        App.Person = Ember.Object.extend({
                            // these will be supplied by `create`
                            firstName: null,
                            lastName: null,
                            fullName: function() {
                                return this.get('firstName') + ' ' + this.get('lastName');
                            }.property('firstName', 'lastName')
                        });
                        
                        var ironMan = App.Person.create({
                            firstName: "Tony",
                            lastName:  "Stark"
                        });
    
                        ironMan.get('fullName'); // "Tony Stark"

            section
                h2 Touch Interaction
                h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

            section
                h2 Responsive Slides
                h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

            section
                h2 Bullet List
                h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
                ul
                    li Bullet 1
                    li Bullet 2
                    li Bullet 3

            section
                h2 Syntax Highlighting
                h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
                pre
                    code.language-javascript.
                        bespoke.from('article', [
                          classes(),
                          keys(),
                          touch(),
                          bullets('li, .bullet')
                        ]);

            section(data-bespoke-hash='named-route')
                h2 Named Route
                h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
                p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

            section
                h2.bullet Just the beginning...
                br
                ul
                    li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
                    li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
                    li Edit JavaScript in <em>'src/scripts/main.js'</em>
                br
                ul
                    li
                        strong Enjoy! :)
                        a(href='http://twitter.com/markdalgleish')  -@markdalgleish

        script(src='build/build.js')
